@font-face {
    font-family: BlenderPro;
    src: url(./fonts/BlenderPro-Medium.ttf);
}
body {
    background-color: black;
    font-family: BlenderPro;
}
.main {
    color: white;
    text-shadow: 5px 5px 30px rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    
}
h1 {
    font-size: 50px;
}
h2{
    font-size: 40px;
}

p {
    font-size: 20px;
}