@font-face {
    font-family: BlenderPro;
    src: url(./fonts/BlenderPro-Medium.ttf) format("TrueType");
}
body {
    background-color: #270417;
    font-family: BlenderPro;
    padding: 50px;
    color: #ffd800;
    text-align: center;
}



#wrapper {
    background-color: #b428752c;
    padding: 20px;
    width: auto;
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    border: #b428758a;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #b42875;
}

.outline {
    border: #ffd800;
    border-style: dashed;
    border-width: 5px;
}